<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <br>
                    <hr>
                      <h2>Asset allocation</h2>
                        <h5>Dati al 01/02/2022</h5>
                        <div class="wrap-table100">
                          <div class="table100">
                            <table>
                              <thead>
                                <tr class="table100-head">
                                  <th class="column1">Asset</th>
                                  <th class="column2">Tipo</th>
                                  <th class="column3">Share</th>
                                </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                    <td class="column1" data-label="Asset">UST</td>
                                    <td class="column2" data-label="Tipo">Stablecoin</td>
                                    <td class="column3" data-label="Share">30%</td>
                                  </tr>
                                  <tr>
                                    <td class="column1" data-label="Asset">AVAX</td>
                                    <td class="column2" data-label="Tipo">L1</td>
                                    <td class="column3" data-label="Share">17.50%</td>
                                  </tr>
                                  <tr>
                                    <td class="column1" data-label="Asset">JOE</td>
                                    <td class="column2" data-label="Tipo">DeFi</td>
                                    <td class="column3" data-label="Share">17.50%%</td>
                                  </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      <h2>Monitoraggio dell'investimento</h2>
                        <h5>Dati al 01/02/2022</h5>
                        <div class="wrap-table100">
                          <div class="table100">
                            <table>
                              <thead>
                                <tr class="table100-head">
                                  <th class="column1">Wallet</th>
                                  <th class="column2">Controvalore attuale</th>
                                </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                    <td class="column1" data-label="Wallet">0xbe0...d33e8</td>
                                    <td class="column2" data-label="Controvalore attuale">3000€</td>
                                  </tr>
                                  <tr>
                                    <td class="column1" data-label="Wallet">0x790....d1385</td>
                                    <td class="column2" data-label="Controvalore attuale">6000€</td>
                                  </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                </div>
            </div>
        </div>
</section>
