<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <br>
                    <hr>
                    <div class="container">
                        <h2>Chi siamo</h2>
                        <p class="description">
                            Selene crypto capital è un fondo di investimento in cryptoassets, che si pone l'obiettivo di portare gli strumenti della finanza tradizionale nell' ecosistema blockchain.
                            <br>
                            <br>In questo modo garantiamo ai nostri clienti la stabilità degli strumenti usati dai principali players della finanza globale, permettendo allo stesso tempo un guadagno percentuale proprio del mondo crypto.                        
                            <br>
                            <br>Questo è possibile grazie a innovativi strumenti finanziari sviluppati ad-hoc su blockchain, che garantiscono sicurezza e flessibilità.
                        </p>
                        <br>
                    </div>
                    <div class="container">
                        <h2>Gestione del patrimonio</h2>
                        <ul class="responsive-table">
                          <li class="table-header">
                            <div class="col col-1">Asset</div>
                            <div class="col col-2">Share</div>
                          </li>
                          <li class="table-row">
                            <div class="col col-1" data-label="Job Id">JOE</div>
                            <div class="col col-2" data-label="Customer Name">30%</div>
                          </li>
                          <li class="table-row">
                            <div class="col col-1" data-label="Job Id">BOO</div>
                            <div class="col col-2" data-label="Customer Name">20%</div>
                          </li>
                          <li class="table-row">
                            <div class="col col-1" data-label="Job Id">AVAX</div>
                            <div class="col col-2" data-label="Customer Name">20%</div>
                          </li>
                          <li class="table-row">
                            <div class="col col-1" data-label="Job Id">FTN</div>
                            <div class="col col-2" data-label="Customer Name">20%</div>
                          </li>
                          <li class="table-row">
                            <div class="col col-1" data-label="Job Id">USDT</div>
                            <div class="col col-2" data-label="Customer Name">10%</div>
                          </li>
                        </ul>
                      </div>
                      <div class="container">
                        <h2>Dashboard</h2>
                        <ul class="responsive-table">
                          <li class="table-header">
                            <div class="col col-1">Wallet</div>
                            <div class="col col-2">Data acquisto</div>
                            <div class="col col-3">Prezzo</div>
                            <div class="col col-4">Quantità</div>
                            <div class="col col-5">Costo totale</div>
                            <div class="col col-6">Percentuale</div>
                          </li>
                          <li class="table-row">
                            <div class="col col-1" data-label="Wallet">0xbe0eb53f46cd790cd13851d5eff43d12404d33e8</div>
                            <div class="col col-2" data-label="Data acquisto">01/01/2022</div>
                            <div class="col col-3" data-label="Prezzo">250€</div>
                            <div class="col col-4" data-label="Quantità">10</div>
                            <div class="col col-5" data-label="Costo totale">2500€</div>
                            <div class="col col-6" data-label="Percentuale">1%</div>
                          </li>
                          <li class="table-row">
                            <div class="col col-1" data-label="Wallet">0x790cd138546cd790cd13851d5effd124790cd1385</div>
                            <div class="col col-2" data-label="Data acquisto">01/02/2022</div>
                            <div class="col col-3" data-label="Prezzo">270€</div>
                            <div class="col col-4" data-label="Quantità">20</div>
                            <div class="col col-5" data-label="Costo totale">5400€</div>
                            <div class="col col-6" data-label="Percentuale">2%</div>
                          </li>
                        </ul>
                      </div>
                </div>
            </div>
        </div>
</section>
