<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
          <br>
          <hr>
          <h2>Asset allocation</h2>
          <h5>Dati al 11/04/2022</h5>
          <div class="wrap-table100">
            <div class="table100">
              <table>
                <thead>
                  <tr class="table100-head">
                    <th class="column1">Tipologia di Asset</th>
                    <th class="column2">Share</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="column1" data-label="Tipologia di asset">GameFi</td>
                    <td class="column2" data-label="Share">35%</td>
                  </tr>
                  <tr>
                    <td class="column1" data-label="Tipologia di asset">Stable</td>
                    <td class="column2" data-label="Share">30%</td>
                  </tr>
                  <tr>
                    <td class="column1" data-label="Tipologia di asset">L1</td>
                    <td class="column2" data-label="Share">17.5%</td>
                  </tr>
                  <tr>
                    <td class="column1" data-label="Tipologia di asset">L2</td>
                    <td class="column2" data-label="Share">17.5%</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <h2>Monitoraggio dell'investimento</h2>
          <h5>Dati al 11/04/2022</h5>
          <div class="wrap-table100">
            <div class="table100">
              <table>
                <thead>
                  <tr class="table100-head">
                    <th class="column1">Wallet</th>
                    <th class="column2">NFT posseduti</th>
                    <th class="column3">Prezzo di acquisto</th>
                    <th class="column4">Controvalore attuale</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="column1" data-label="Wallet">0xE2CD...D66dE6</td>
                    <td class="column2" data-label="NFT posseduti">560</td>
                    <td class="column3" data-label="Prezzo di acquisto">$10</td>
                    <td class="column4" data-label="Controvalore attuale">$6.192</td>
                  </tr>
                  <tr>
                    <td class="column1" data-label="Wallet">0x8671...6427d4</td>
                    <td class="column2" data-label="NFT posseduti">168</td>
                    <td class="column3" data-label="Prezzo di acquisto">$10</td>
                    <td class="column4" data-label="Controvalore attuale">$1.858</td>
                  </tr>
                  <tr>
                    <td class="column1" data-label="Wallet">0x28FE...95090D</td>
                    <td class="column2" data-label="NFT posseduti">112</td>
                    <td class="column3" data-label="Prezzo di acquisto">$10</td>
                    <td class="column4" data-label="Controvalore attuale">$1.238</td>
                  </tr>
                  <tr>
                    <td class="column1" data-label="Wallet">0x28A0...61eA55</td>
                    <td class="column2" data-label="NFT posseduti">448</td>
                    <td class="column3" data-label="Prezzo di acquisto">$10</td>
                    <td class="column4" data-label="Controvalore attuale">$4.954</td>
                  </tr>
                  <tr>
                    <td class="column1" data-label="Wallet">0x9EAd...927BcB</td>
                    <td class="column2" data-label="NFT posseduti">560</td>
                    <td class="column3" data-label="Prezzo di acquisto">$10</td>
                    <td class="column4" data-label="Controvalore attuale">$6.192</td>
                  </tr>
                  <tr>
                    <td class="column1" data-label="Wallet">0x7FCB...71aE19</td>
                    <td class="column2" data-label="NFT posseduti">47</td>
                    <td class="column3" data-label="Prezzo di acquisto">$11,05</td>
                    <td class="column4" data-label="Controvalore attuale">$520</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <h2>Controvalore NFT</h2>
          <p style="text-align:center;"><img src="assets\images\chart.svg" class="center"></p>
        </div>
      </div>
    </div>
</section>